.body {
  margin-left: 55px;
  background-color: transparent;
  background-clip: border-box;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-sect1 {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: 10vh;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-sect1.blue2 {
  position: relative;
  display: none;
  margin-bottom: 0vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

.div-sect1.blue2.hawthorne {
  margin-bottom: 0vh;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.lottieanim1 {
  display: block;
  height: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.div-text1 {
  position: relative;
  left: auto;
  top: 0%;
  right: -7%;
  bottom: 0%;
  z-index: 99;
  display: block;
  width: auto;
  height: auto;
  margin-right: 0px;
  margin-left: 0%;
  padding-right: 0%;
  padding-left: 0%;
  clear: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-2 {
  position: relative;
  left: 0px;
  top: 29px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: niveau-grotesk, sans-serif;
  color: #793860;
  font-size: 2vw;
  line-height: 4vw;
  text-align: left;
}

.div-main {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: transparent;
}

.lottiefullpage {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 100vh;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.container-lottie1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.container-lottie1.parallax {
  position: relative;
  left: 5%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -ms-grid;
  display: grid;
  height: auto;
  max-height: 100%;
  max-width: 50%;
  min-height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 100%;
  grid-template-rows: 100%;
  background-color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
}

.container-lottie1.parallax.blue {
  position: relative;
}

.container-lottie1.parallax.blue.v2-square {
  max-width: 60%;
  justify-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.lottie-animation-fill-circle {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: auto;
  display: block;
  height: auto;
  max-width: none;
  min-height: 100%;
  background-color: transparent;
}

.heading-1 {
  font-family: ff-real-text-pro, sans-serif;
  color: #793860;
  font-size: 5vw;
  line-height: 5vw;
  font-weight: 800;
}

.lottie-animation-fill-left {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: auto;
  display: block;
  width: 200%;
  height: 100%;
  min-height: auto;
  min-width: auto;
  background-color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph {
  padding-right: 15vw;
  font-family: niveau-grotesk, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  text-align: left;
  letter-spacing: normal;
}

.lottie-animation-3 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.lottie-full-screen {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 500;
  width: auto;
  height: auto;
  min-height: auto;
  min-width: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph-2 {
  font-family: niveau-grotesk, sans-serif;
  color: #fff;
  font-size: 20px;
}

.paragraph-2.mbn-multiply {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
}

.container {
  position: static;
  display: block;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.lottie-animation-relpos {
  position: relative;
  top: -57px;
}

.bg-grad {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcdbec), to(#ffedf7));
  background-image: linear-gradient(180deg, #fcdbec, #ffedf7);
}

.div-block {
  position: static;
  width: 100vw;
  height: 100vh;
}

.section {
  width: 100vw;
  height: 100vh;
}

.paragraph-3 {
  position: static;
  text-align: center;
}

.container-2 {
  position: relative;
  top: 50vh;
}

.lottie-animation-5 {
  display: none;
}

@media screen and (max-width: 991px) {
  .div-text1 {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .div-text1 {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .body {
    background-color: transparent;
  }

  .div-sect1 {
    position: static;
    display: block;
    height: auto;
    min-height: 100vh;
    margin-bottom: 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .div-sect1.blue2 {
    display: none;
    background-color: transparent;
  }

  .div-sect1.blue2.hawthorne {
    display: none;
  }

  .lottieanim1 {
    position: static;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: block;
  }

  .div-text1 {
    position: relative;
    left: 20px;
    right: auto;
    width: auto;
    height: 0%;
    padding-left: 0%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .heading-2 {
    left: auto;
    top: 0px;
    font-size: 5vw;
    line-height: 18vw;
    text-align: left;
  }

  .div-main {
    position: absolute;
    background-color: transparent;
  }

  .container-lottie1 {
    position: static;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .container-lottie1.parallax {
    position: relative;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    height: auto;
    max-height: 50vh;
    max-width: 100vw;
    margin-bottom: 10vh;
    padding-top: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .container-lottie1.parallax.blue {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .container-lottie1.parallax.blue.v2-square {
    max-width: none;
    margin-top: 10vh;
    margin-bottom: 0vh;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .lottie-animation-fill-circle {
    overflow: hidden;
  }

  .heading-1 {
    margin-top: -15px;
    font-size: 12vw;
    line-height: 11vw;
    text-align: left;
  }

  .lottie-animation-tall {
    overflow: hidden;
  }

  .lottie-animation-tall.v2-full-square {
    min-width: 100vw;
  }

  .paragraph {
    padding-top: 10vw;
    padding-left: 10vw;
  }

  .lottie-full-screen {
    display: block;
  }

  .lottie-animation-4 {
    margin-top: 125px;
  }

  .bg-grad {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
  }

  .container-2 {
    top: 50vh;
  }
}

#w-node-_777cf42e-9c6d-b58c-1911-7e14479c09c3-7f1770e0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_9c3ae0ca-eb15-efd9-a644-9e8ed820b08a-7f1770e0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_25ac19d4-e662-535d-61dd-4519b948233a-7f1770e0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-ac6e8a42-ad38-8076-84d4-184319b9710a-7f1770e0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_53c05c4d-8d31-42bf-2d78-d440ed076f3d-7f1770e0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_53c05c4d-8d31-42bf-2d78-d440ed076f3e-7f1770e0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_53c05c4d-8d31-42bf-2d78-d440ed076f3f-7f1770e0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_53c05c4d-8d31-42bf-2d78-d440ed076f40-7f1770e0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-db25e3da-1166-d2e8-1859-e4e7b85a4d95-7f1770e0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_3691027a-99fb-8b4f-e3e9-37a89e319d9d-7f1770e0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_66c0b0ed-6c82-7d46-5d56-4308986dce93-7f1770e0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 479px) {
  #w-node-_9c3ae0ca-eb15-efd9-a644-9e8ed820b08a-7f1770e0 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_53c05c4d-8d31-42bf-2d78-d440ed076f3e-7f1770e0 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}

