.section {
  height: 800px;
}

.section-2 {
  height: 500px;
}

.lottie-animation {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}

.container {
  position: relative;
  display: inline-block;
}

.heading {
  text-align: center;
}

.container-2 {
  margin-top: 101px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lottie-animation-2 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 66%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 100% 50%;
  object-position: 100% 50%;
}

.container-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  max-height: 100%;
  max-width: 33%;
  margin-top: 0%;
  clear: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.body {
  margin-left: 55px;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.div-block-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  max-width: 33%;
  margin-top: auto;
  margin-bottom: auto;
}

.div-sect {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.lottie-animation-3 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.lottie-animation-1 {
  display: block;
  height: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.div-block-4 {
  position: absolute;
  height: 100%;
}

.paragraph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.paragraph-1 {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 0px;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.divmaintext {
  width: 33%;
  padding-right: 5%;
  padding-left: 5%;
}

.heading-1 {
  position: static;
  text-align: center;
}

.div-main {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

@media screen and (max-width: 991px) {
  .paragraph-1 {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .div-sect {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .lottie-animation-1 {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: block;
  }

  .divmaintext {
    width: auto;
    height: 33%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
}